.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2%;
}

.App {
  display: block;
  margin-left: -0.5%;
  margin-right: 0%;
  width: 101%;
  margin-top: -0.5%;
}